{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'index/index.css' %}" rel="stylesheet">
        <title>AI Decrypt- Home</title>
    </head>

    <body>
        <div class="greet-container">
            <div class="greet-content">
                <p class="greet-content-font">
                    Hello, this is a tool that helps you to decrypt encoded text using<br>
                    AI engines that can recognize many common algorithms.
                </p>

                <div style="height: 30px;"></div>

                <a class="btn-1" href="{% url 'index:decrypt' %}">Get started &#8594;</a>
            </div>
        </div>
    </body>
</html>