a{
    text-decoration: none;
    font-family: system-ui;
}

body{
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateY(-20deg);
    }

    to{
        opacity: 1;
        transform: rotateY();
    }
}

.greet-container{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 72vh;
}

.greet-content{
    text-align: center;
}

.greet-content-font{
    font-size: 50px;
    color: rgb(35, 35, 35);
    font-family: system-ui;
    font-weight: lighter;
}

.result-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
    animation: transitionIn2 3s;
}

@keyframes transitionIn2{
    from{
        opacity: 0;
        transform: rotateX(20deg);
    }

    to{
        opacity: 1;
        transform: rotateX();
    }
}

.result-content{
    font-size: 28px;
    font-family: system-ui;
    font-weight:lighter;
    background-color: rgb(178, 255, 213);
    color: rgb(61, 61, 61);
    border-radius: 15px;
    padding: 25px 30px;
    min-height: 250px;
    width: 500px;
}

.result-title{
    font-size:28px;
    font-weight:normal;
    margin:0px;
}

.form-container{
    height: auto;
}

.input-1{
    height: 60px;
    width: 650px;
    border-radius: 15px;
    margin: 5px;
}

.input-1,
.input-1::placeholder {
    font-size: 28px;
}

.btn-1{
    height: 66px;
    width: 110px;
    border-radius: 15px;
    border: none;
    background-color: rgb(23, 69, 59);
    color: white;
    margin: 5px;
    font-size: 22px;
    transition: 200ms;
}

.btn-1:hover:not(.active){
    background-color: rgb(35, 112, 95);
    width: 110px;
    transition: 200ms;
}

.btn-2{
    border-radius: 15px;
    background-color: rgb(23, 69, 59);
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-top: 9px;
    margin: 5px;
    transition: 200ms;
}

.btn-2:hover:not(.active){
    background-color: rgb(35, 112, 95);
    transition: 200ms;
}

.btn-3{
    height: 66px;
    width: 110px;
    border-radius: 15px;
    border: none;
    background-color: rgb(23, 69, 59);
    color: white;
    margin: 5px;
    font-size: 22px;
    transition: 200ms;
}

.cell{
    display:table-cell; 
    vertical-align:middle;
}

.dual-ring-container{
    opacity: 0;
}

.dual-ring {
    display: inline-block;
}
.dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 12px;
    border-radius: 50%;
    border: 6px solid rgb(90, 90, 90);
    border-color: rgb(90, 90, 90) transparent rgb(90, 90, 90) transparent;
    animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}